.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h" "n c";
  /*grid-gap: 10px;*/
}

.header {
  grid-area: h;
  background-color: gray;
}

.header img {
  width: 20px;
  background-color: #61dafb;
}

.nav {
  grid-area: n;
  background-color: green;
}

.content {
  grid-area: c;
}